.MindNodeCard {
    position: absolute;
    user-select: none;
    z-index: 1;

    /* transform: translate(-50%, -50%); */
    /* opacity: 0.2; */
}

/* .MindNodeCard.choosen {
    filter: brightness(150%);
} */

.MindNodeCard.linking {
    background-color: #565656;
}

.MindNodeCard .tool-bar {
    margin-left: .5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* transition: height 100ms ease-in-out; */
}

.MindNodeCard > .frame {
    display: none;
    z-index: 0;
}

.MindNodeCard.choosen > .frame {
    display: block;
    position: absolute;
    top: -.2em;
    bottom: -.2em;
    left: -.2em;
    right: -.2em;
    border-radius: .2em;
    border: .1em #6fc776 dashed;
}

.MindNodeCard > .static {
    background-color: #223344;
    border-radius: .2em;
    overflow: hidden;
}

.MindNodeCard .tool-bar > * {
    height: .7em;
}

.MindNodeCard > .static > .wrapper {
    padding: .2em .5em;
    display: flex;
}

.MindNodeCard > .static > .wrapper > .text {
    flex: 1;
}
/* 
.MindNodeCard > .handle {
    width: 100%;
    height: .5em;
    background-color: #667788;
    cursor: grab;
    opacity: 0.5;
    transition: opacity 100ms ease-in-out;
}

.MindNodeCard:hover > .handle {
    opacity: 1;
}

.MindNodeCard.dragging, 
.MindNodeCard.dragging > .handle {
    cursor:grabbing;
    z-index: 5;
} */

.MindNodeCard.dragging {
    z-index: 5;
}

.MindNodeCard .text {
    color: #ffffff;
}

.MindNodeCard .text > p {
    margin: 0;
}