.MindNodeCard {
    position: absolute;
    user-select: none;
    z-index: 1;

    --primary-color: #223344;
    --secondary-color: #ffffff;

    /* transform: translate(-50%, -50%); */
    /* opacity: 0.2; */
}

/* .MindNodeCard.choosen {
    filter: brightness(150%);
} */


.MindNodeCard.linking .text {
    color: #ffffff;
}

.MindNodeCard .tool-bar {
    margin-left: .5em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* transition: height 100ms ease-in-out; */
}

.MindNodeCard>.frame {
    display: none;
    z-index: 0;
}

.MindNodeCard.choosen>.frame {
    display: block;
    position: absolute;
    top: -.2em;
    bottom: -.2em;
    left: -.2em;
    right: -.2em;
    border-radius: .2em;
    border: .1em #6fc776 dashed;
}

.MindNodeCard>.static {
    background-color: var(--primary-color);
    border-radius: .2em;
    overflow: hidden;
}

.MindNodeCard.linking>.static {
    background-color: #565656;
}

.MindNodeCard .tool-bar>* {
    height: .7em;
}

.MindNodeCard>.static>.wrapper {
    display: flex;
    position: relative;
}

.MindNodeCard>.static>.wrapper>.text,
.MindNodeCard>.static>.wrapper>.tool-bar {
    padding: .2em .5em;
}

.MindNodeCard>.static>.wrapper>.text {
    min-width: 2em;
}

.MindNodeCard>.static>.wrapper>.tool-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    background: linear-gradient(to left, var(--primary-color), transparent);
}

.MindNodeCard:hover>.static>.wrapper>.tool-bar {
    opacity: 1;
}

/* 
.MindNodeCard > .handle {
    width: 100%;
    height: .5em;
    background-color: #667788;
    cursor: grab;
    opacity: 0.5;
    transition: opacity 100ms ease-in-out;
}

.MindNodeCard:hover > .handle {
    opacity: 1;
}

.MindNodeCard.dragging, 
.MindNodeCard.dragging > .handle {
    cursor:grabbing;
    z-index: 5;
} */

.MindNodeCard.dragging {
    z-index: 5;
}

.MindNodeCard .text {
    color: var(--secondary-color);
}

.MindNodeCard .text>p {
    margin: 0;
}