.PortListView {
    font-size: 0.5em;
}

.PortListView li {
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    align-items: center
}

.PortListView li span {
    flex: 1;
}

.PortListView li a {
    margin-left: 0.5em;
    color: gray;
    cursor: pointer;
}