.RadioButton {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border-width: 0;
    border-style: solid;
    border-color: #ffffff;
    background-color: #00000000;
    color: #2e5a70;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.RadioButton:hover {
    background-color: #9bdeff77;
}

.RadioButton.checked {
    background-color: #66ccff;
}

.RadioButton.border {
    background-color: #66ccff;
    border-width: .2em;
}